---
import EvaluationResult from "../components/EvaluationResult.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="evaluator-section">
    <output class="evaluator-result" aria-live="polite">
      <EvaluationResult server:defer />
    </output>
  </section>
</Layout>
