---
import EvaluationResult from "../components/EvaluationResult.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <EvaluationResult server:defer />
  </main>
</Layout>
