---
import Evaluation from "../components/Evaluation.astro";
import EvaluationSkeleton from "../components/EvaluationSkeleton.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Evaluation server:defer>
      <EvaluationSkeleton slot="fallback" />
    </Evaluation>
  </main>
</Layout>
