---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <form class="evaluator__form">
      <label
        >Project Name:
        <input type="text" name="storeName" required />
      </label>

      <label
        >Upload Files:
        <input type="file" name="documents" multiple required />
      </label>

      <button type="submit">Evaluate</button>
    </form>
  </body>
</html>
<script type="module">
  const formElement = document.querySelector(".evaluator__form");

  formElement?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const { storeName, documents } = e.target;

    const formData = new FormData();

    formData.append("storeName", storeName.value);

    const fileList = documents.files;

    for (const file of fileList) {
      formData.append("files", file);
    }

    const response = await fetch("/api/upload", {
      method: "POST",
      body: formData,
    });

    const result = await response.json();

    const params = new URLSearchParams({
      projectName: result.vector_store_name,
      storeID: result.vector_store_id,
      language: `Spanish`,
    });

    window.location.href = `/evaluate?${params.toString()}`;
  });
</script>
