---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <button type="button" class="evaluator-button">Evaluate Proposal</button>
  </body>
</html>
<script type="module">
  const button = document.querySelector(".evaluator-button");

  const params = new URLSearchParams({
    projectName: `Nueva Esperanza`,
    storeID: `vs_6843aa29fbec8191967e735079ef3c8a`,
    language: `Spanish`,
  });

  button?.addEventListener("click", async () => {
    window.location.href = `/evaluate?${params.toString()}`;
  });
</script>
