---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>EvaluAItor</title>
  </head>
  <body
    class="min-h-dvh grid grid-rows-[auto_1fr_auto] text-gray-700 dark:text-gray-200 bg-stone-50 dark:bg-stone-900"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
